:root {
    --color-dark: #434343;
    --color-gray: #c2d3ee;
    --color-light: #e1e2e5;
    --color-primary: #108ee9;
    --color-accent: #1677ff;
    --color-dark-gray: #696969;
    --color-silver: #f0f2f5;
}