.button,
.buttonActive {
    display: block;
    border: none;
    border-radius: 10px;
    background: none;
    margin: 10px;
    padding: 5px 10px 8px 10px;


    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;

    text-wrap: nowrap;
}

.buttonActive {
    color: var(--color-primary);
    background-color: #fff;
    box-shadow: 0 0 2px 0 var(--color-dark) inset;
    cursor: default;
}

.button:hover {
    text-decoration: underline;
}