.navigation {
    display: flex;
    justify-content: space-between;
    z-index: 10;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.group {
    display: flex;
    flex-direction: row;
}

.bg {
    position: absolute;
    background-color: var(--color-accent);
    box-shadow: 0 1px 3px var(--color-dark);

    width: 100vw;
    height: 100%;
    transform: translateX(-50%);
    // position: relative;
    left: 50%;
    z-index: -1;
}