.button,
.buttonActive {
    display: block;
    border: 2px solid var(--color-dark);
    border-radius: 10px;
    background: none;

    padding: 5px;
    // margin: 5px;

    font-size: 20px;
    text-decoration: none;
    color: var(--color-dark);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.buttonActive {
    color: var(--color-accent);
    border-color: var(--color-accent);
    cursor: default;
}

.button:hover {
    text-decoration: underline;
}